@for $i from 0 through 40 {
  .mg-t#{$i * 4} {
    margin-top: $i * 4px;
  }
  .mg-b#{$i * 4} {
    margin-bottom: $i * 4px;
  }
  .mg-l#{$i * 4} {
    margin-left: $i * 4px;
  }
  .mg-r#{$i * 4} {
    margin-right: $i * 4px;
  }

  .pd-t#{$i * 4} {
    padding-top: $i * 4px;
  }
  .pd-b#{$i * 4} {
    padding-bottom: $i * 4px;
  }
  .pd-l#{$i * 4} {
    padding-left: $i * 4px;
  }
  .pd-r#{$i * 4} {
    padding-right: $i * 4px;
  }

  .mg-lr#{$i * 4} {
    margin-left: $i * 4px;
    margin-right: $i * 4px;
  }
  .mg-tb#{$i * 4} {
    margin-top: $i * 4px;
    margin-bottom: $i * 4px;
  }

  .pd-lr#{$i * 4} {
    padding-left: $i * 4px;
    padding-right: $i * 4px;
  }
  .pd-tb#{$i * 4} {
    padding-top: $i * 4px;
    padding-bottom: $i * 4px;
  }

  .ts-#{12 + $i} {
    font-size: #{12 + $i}px;
  }
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;

  &.space-between {
    justify-content: space-between;
  }
  &.space-around {
    justify-content: space-around;
  }
  &.sapce-start {
    justify-content: flex-start;
  }
  &.space-end {
    justify-content: flex-end;
  }

  &.align-start {
    align-items: flex-start;
  }
  &.align-end {
    align-items: flex-end;
  }

  &.flex-column {
    flex-direction: column
  }
  &.flex-column_reverse {
    flex-direction: column-reverse;
  }

  .flex-1 {
    flex: 1;
  }
}

html, body {
  min-height: 100vh;
}

.ul-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.min-h {
  min-height: calc(100vh - #{$header-h} - #{$footer-h});
}

.min-h_header-fixed {
  min-height: 100vh;
}

.min-h_no-footer {
  min-height: calc(100vh - #{$header-h});
}
