// 字体颜色
@mixin color ($key: primary, $o: 1) {
  @each $themeKey in $theme-key {
    [data-theme="#{$themeKey}"] &{
      $list: getList($color-obj, $themeKey);
      color: getValue($key, $list, $o);
    }
  }
}

// 背景颜色
@mixin bg-color ($key: primary, $o: 1) {
  @each $themeKey in $theme-key {
    [data-theme="#{$themeKey}"] &{
      $list: getList($color-obj, $themeKey);
      background-color: getValue($key, $list, $o);
    }
  }
}

@mixin border-color ($key: primary) {
  @each $themeKey in $theme-key {
    [data-theme="#{$themeKey}"] &{
      $list: getList($color-obj, $themeKey);
      border-color: getValue($key, $list);
    }
  }
};