// color
$dark-color-list: (
  primary: #000,
  bg-primary: #fff
);
$light-color-list: (
  primary: #fff,
  bg-primary: #000
);

$color-obj: (
  dark: $dark-color-list,
  light: $light-color-list
);

$theme-key: (
  dark,
  light
);

$header-h: 50px;
$footer-h: 200px;