// color
$light-color-list: (
  primary: #2c3e50,
  bg-primary: #efefef,
  sha-primary: #555
);
$dark-color-list: (
  primary: #efefef,
  bg-primary: #2c3e50,
  sha-primary: #000
);

$color-obj: (
  dark: $dark-color-list,
  light: $light-color-list
);

$theme-key: (
  dark,
  light
);

$header-h: 50px;
$footer-h: 200px;